.col-md-12
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', role: 'form' }) do |f|
    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-10= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'email'
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-10= f.password_field :password, class: 'form-control', autocomplete: 'off'
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit 'Log in', class: 'btn btn-primary'
