.col-xs-12
  .page-header{ 'ticket-id': @ticket.id }
    %h3 チケット概要
  %table.table
    %thead
      %tr
        %th チケット名
        %th.text-center チケット販売可能枚数
        %th.text-center 締切日
    %tbody
      %tr
        %td= @ticket.title
        %td.text-center= @ticket.number
        %td.text-center= @ticket.expired_at
  .row
    .col-xs-12
      = @ticket.body.html_safe

  .page-header
    %h3 チケットデータ
  .ticket-show-chart-wrapper
    %canvas{ id: 'chart', width: '900', class: 'chart' }
= javascript_pack_tag 'ticket-show-chart'
